@media all and (max-width: 1300px) {
    section #txt_banner {
        width: 50%;
        top: 30px;
    }

}

@media all and (max-width: 900px) {
    section #txt_banner {
        width: 70%;
        font-size: 50px;
    }
    header #img img {
        width: 270px;
    }
    nav ul li a {
        font-size: 12pt;
    }
    header {
        width: 90%;
    }
}

@media all and (max-width: 610px) {
    section #txt_banner {
        width: 90%;
        float: none;
        margin: auto;
        text-align: center;
        top: 70px;
    }
    header #img img {
        width: 200px;
    }
    nav ul {
        top: 5px;
    }
}

@media all and (max-width: 500px) {
    header #img {
        display: block;
        float: none;
        margin: auto;
    }
    header nav {
        display: block;
        float: none;
        margin: auto;
        width: 100%;
    }

    header {
        width: 100%;
    }
}